<app-header></app-header>
<main class="sm:mx-8">
    <div class="mt-8 sm:flex mb-2">
        <app-search class="border border-gray-300 rounded-md w-2/3 mr-2"></app-search>
        <app-view-course class="border border-gray-300 rounded-md w-1/3"></app-view-course>
    </div>

    <div class="w-full flex">
        
        <app-schedule class="w-5/4 border border-gray-300 rounded-md mr-2"></app-schedule>
        <app-show-courses-selected class="w-1/5 border border-gray-300 rounded-md "></app-show-courses-selected>
    </div>
</main>

